<h2>Produkty</h2>

<%= link_to new_admin_product_path, class: "btn btn-success" do %>
<span class="fa fa-plus"></span> Dodaj nowy produkt
<% end %>

<div class="search-from">
  <%= search_form_for [:admin, @q] do |f| %>
  <%= f.text_field :name_or_description_or_long_description_cont, placeholder: "Szukaj tekstu" %>
  <%= f.text_field :price_gt, placeholder: "Cena >" %>              <!-- poprawić wyszukiwanie ceny, szuka w groszach -->
  <%= f.submit "Szukaj" %>
  <% end %>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Nazwa")%></th>
      <th><%= sort_link(@q, :price, "Cena")%></th>
      <th><%= sort_link(@q, :category_id, "Kategoria")%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= number_to_currency (product.price.to_f)/100 %></td>
      <td><%= product.category.name %></td>
      <td>
        <%= link_to "Edycja", edit_admin_product_path(product), class: "btn btn-default btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
